<h2> Record a new booking </h2>

<%= simple_form_for [@athlete, @booking], html: { data: { controller: 'flatpickr' } } do |f| %>
  <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: 'startDateInput',} } %>
  <%= f.input :end_date, as: :string, input_html: { class: 'd-none', data: { flatpickr_target: 'endDateInput',} } %>
  <%=  %>
  <%= f.submit 'Book now', class: 'btn btn-primary' %>
<% end %>
