<div class="container container form-edit">
  <div class="header-form">
    <h1>Edit your athlete: <%= @athlete.first_name %> <%= @athlete.last_name %></h1>
  </div>
  <%= simple_form_for(@athlete) do |f| %>
    <%= f.input :price_per_day %>
    <%= f.input :location %>
    <%= f.input :features %>
    <%= f.input :summary %>
    <%= f.input :availability %>
    <div class="d-grid gap-2">
      <%= f.submit 'Update athlete', class: "btn-pink" %>
    </div>
  <% end %>
</div>
