<div class="container mt-3">
  <div class="wrapper">
    <h1>Choose your </h1>
    <div class="words">
      <p class="text-1">Footballer</p>
      <p class="text-2"> <strong>Rider</strong></p>
      <p class="text-3"><strong>Tennis man</strong></p>
      <p class="text-4"><strong>Pilot</strong></p>
      <p class="text-5"><strong>Friend</strong></p>
    </div>
  </div>
  <ul>
    <div class="athletes-list">
      <% @athletes.each do |athlete| %>
        <%= link_to athlete_path(athlete) do %>
          <div class="card-product">
            <div style="width: 360px; height: 300px; background-size: cover; background-position: center; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(
              <% if athlete.photo.attached? %>
                <%= cl_image_path athlete.photo.key, crop: :fill %>
              <% else %>
                'https://img.freepik.com/photos-gratuite/outils-sport_53876-138077.jpg?w=2000'
              <% end%>
              )">
            </div>
            <div class="card-product-infos">
              <h3> <%= athlete.first_name %> <%= athlete.last_name %></h3>
              <li> Age: <%= athlete.age %></li>
              <li> Location: <%= athlete.location %></li>
              <li> <%= athlete.features %></li>
              <h2> <%= athlete.price_per_day %>€/day</h2>
                <li class="average">
                  <% mean = [] %>
                  <% athlete.reviews.each do |review| %>
                  <% mean << review.rating %>
                  <% end %>
                  <% unless mean.size == 0 %>
                  <%= mean.sum / mean.size %> ⭐️
                  <% else %>
                  No review yet
                  <% end %>
                </li>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  </ul>
</div>
