<div class="container form-edit">
  <div class="header-form">
    <h2> Your new athlete </h2>
  </div>

  <%= simple_form_for(@athlete) do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :price_per_day %>
    <%= f.input :age %>
    <%= f.input :location %>
    <%= f.input :summary %>
    <%= f.input :features %>
    <%= f.input :sport %>
    <%= f.input :availability %>
    <%= f.input :gender %>
    <%= f.input :photo, as: :file %>
    <div class="d-grid gap-2">
      <%= f.submit 'Create athlete', class: "btn-pink"%>
    </div>
  <% end %>
</div>
