<h1>Athletes#show</h1>
<p>Find me in app/views/athletes/show.html.erb</p>

<%=@athlete.first_name%>
<%=@athlete.last_name%>
<%=@athlete.features%>

<%if @athlete.photo.attached?%>
  <%= cl_image_tag @athlete.photo.key, height: 300, width: 400, crop: :fill %>
<%else%>
  <p>No picture attached</p>
<%end%>



<% if policy(@athlete).edit? %>
  <%= link_to "Edit this athlete", edit_athlete_path(@athlete) %> |
<% end %>
<% if current_user != @athlete.user %>
  <h2> Record a new booking </h2>
  <div data-controller="dynamic-booking-price"
      data-dynamic-booking-price-price-value="<%= @athlete.price_per_day %>">
    <%= simple_form_for [@athlete, @booking], html: { data: { controller: 'flatpickr' } } do |f| %>
      <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: 'startDateInput', dynamic_booking_price_target: 'startDateInput', action: 'change->dynamic-booking-price#updatePrice' } } %>
      <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: 'endDateInput', dynamic_booking_price_target: 'endDateInput', action: 'change->dynamic-booking-price#updatePrice'} } %>
      <%= f.input :price, as: :hidden, input_html: { data: { dynamic_booking_price_target: 'total' } } %>
      <%= f.input :duration, as: :hidden, input_html: { data: { dynamic_booking_price_target: 'duration' } } %>
      <%= f.submit 'Book now', class: 'btn btn-primary' %>
    <% end %>
    <div class="booking-price">
      Total price: <span data-dynamic-booking-price-target="priceHolder"><%= @athlete.price_per_day %></span> €
    </div>
  <% end %>
</div>

<%@athlete.reviews.each do |review|%>
  <%=review.content%>
  <%=review.rating%>
<%end%>
