<div class="container">
  <h1>Create a review</h1>

  <%= simple_form_for [@booking, @review] do |f| %>
    <%= f.input :rating %>
    <%= f.input :content %>
    <%= f.submit %>
  <% end %>

  <%= render "shared/reviews", reviews: @reviews %>

</div>
